<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Send CSV file</h1>
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <label for="file-input">Select a CSV file:</label>
          <input type="file" id="file-input" name="file" accept=".csv" required>
          <button type="submit">Send</button>
      </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <ul>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% else %}
              <li>No messages.</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>